body {
  /*font-family: 'Noto Sans Japanese', serif;*/
  font-family: Verdana, Roboto, 'Droid Sans', '游ゴシック Light', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
  /*font-family: mplus-1p-regular;*/
}

.table-view-cell {
  padding: 18px 15px 18px 15px;
  border-bottom: 1px solid #e6e6e6;
}

.table-view-cell>a:not(.btn) {
  overflow: visible;
  margin: -11px -15px -11px -15px;
}

.hostname, .comments {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
}

.comments {
  color: #979797;
  margin-top: .8rem;
}

.badge {
  font-size: 10px;
  background: #f0f0f0;
}

.content {
  background: white;
  margin-top: 27px !important;
}

.bar {
  color: #979797;
  font-size: 12px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #00A4DE !important;
}

.table-view {
  border-top: none;
  border-bottom: none;
}

.segmented-control {
  background: transparent;
  border: none;
  top: auto;
}

.segmented-control .control-item {
  background-color: #f2f2f2;
  border-left: 1px solid #ddd;
}

.segmented-control .control-item.active {
  background-color: white;
}

/* spinner */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #00A4DE;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}